<h2 class="my-3 p-3 bg-primary text-white">Rides In Progress</h2>

<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>From</th><th>To</th><th>Passenger</th><th>Driver</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>240 E. Superior, Chicago, IL</td>
          <td>1901 W. Madison St, Chicago, IL</td>
          <td><b>Charlie</b><br><i> Received: 3/28/2018 2:45p</i> </td>
          <td><a href="#" class="btn-sm btn-info">Assign Driver</a></td>
        </tr>
        <tr>
          <td>333 W. 35th St, Chicago, IL</td>
          <td>1060 W. Addison St, Chicago, IL</td>
          <td><b>Molly</b><br><i> Received: 3/28/2018 2:45p</i> </td>
          <td>
            <b>Hoke</b>
            <br><i>Assigned: 3/28/2018 3:23pm</i>
            <br><a class="btn-sm btn-info" href="#">Mark as Complete</a>
          </td>
        </tr>
        <tr>
          <td>419 W. Huron, Chicago, IL</td>
          <td>2202 Sheridan Rd, Evanston, IL</td>
          <td> <b>Zak</b> <br><i>Received: 3/28/2018 2:45p</i> </td>
          <td><a href="#" class="btn-sm btn-info">Assign Driver</a></td>
        </tr>
        <tr>
          <td>240 E. Superior, Chicago, IL</td>
          <td>1901 W. Madison St, Chicago, IL</td>
          <td><b>Linda</b><br><i>Received: 3/28/2018 2:45p</i> </td>
          <td>
            <b>Kermit The Frog</b>
            <br><i>Assigned: 3/28/2018 3:23pm</i>
            <br><a class="btn-sm btn-info" href="#">Mark as Complete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
